.bg-container {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: #ffffff;
  width: 80%;

  padding: 20px;
  box-shadow: 2px 5px 4px grey;
}
.heading {
  color: #1e293b;
  font-family: roboto;
  font-size: x-large;
  margin-top: 10px;
}

.para {
  color: #64748b;
  font-family: roboto;
  font-size: small;
  margin-top: 8px;
  font-weight: 500;
}

.image {
  width: 50%;
  height: 50%;
}

.unorderList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
